body {
  margin: 0;

  color: #ffffff;
  background: #111111;

  font-family: 'Cascadia Mono', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, a:visited {
  color: #3391ff;
}

a:hover, a:visited:hover {
  text-decoration: none;
}

#root {
  height: 100%;
}

.main {
  display: flex;
  flex-direction: row;

  height: 100%;
}

.content-wrapper {
  display: flex;
  flex-direction: row;

  padding: 0 2em;
}

.content {
  padding: 1em .5em;

  align-self: flex-start;
}

.content--main {
  width: 50%;
}

.content--secondary {
  display: block;

  position: sticky;
  top: 0;
}

@media screen and (max-width: 960px) {
  .content-wrapper {
    flex-direction: column;
  }

  .content--main {
    width: 100%;
  }

  .content--secondary {
    position: relative;
  }
}
